<h1>Teachers in Stockholm</h1>
<!-- Insert the location afterwards-->

<hr>
<div class="search-bar" style="display:flex; flex-direction: row; justify-content: center; align-items: center; float: left;">
  <p>&#10004; Location</p>
  <p>&#10004; Date</p>
  <p>&#10004; Style</p>
</div>
<hr>
<br>
<hr>
<div class="search-bar" style="display:flex; flex-direction: row; justify-content: center; align-items: center; float: left;">
  <p>Price</p>
  <p>Level</p>
  <p>Ratings</p>
</div>

<hr>
<br>
<hr>
<br>
<div class="card-deck">
  <% @teachers.each do |teacher| %>
    <div class="card" >
      <img src="../../app/assets/images/teacher_1.png" alt="" width="500" height="600">

      <div class="card-body">
        <h5 class="card-title"><strong><%= teacher.first_name %></strong> <strong><%= teacher.last_name %></strong></h5>
        <p><% if teacher.certification == true%></p>
        <p> <%= "Certified Teacher | #{["200h","500h","800h"].sample} Yoga Alliance" %> </p>
        <p><% else %></p>
        <p> <%= "Community Teacher" %> </p>
        <p> <% end %> </p>
        <hr>
        <p class="card-text"> <%= teacher.style %> </p>
        <p class="card-text"> <%= "Prices from #{[15.99, 18.50,12.99,13.99,14.75].sample}" %><i class="fas fa-euro-sign"></i> / day</p>
        <div class="card-footer">
          Ratings <small class="text-muted"><%= teacher.ratings %> <i class="fas fa-heart"></i></small>
        </div>
        <button type="button" class="btn btn-outline-success" ><%= link_to "See more details", teacher_path(teacher) %></button>
        <hr>
      </div>
    </div>
  <% end %>
</div>

<div class="jumbotron">
  <p>Create your account today, it is easy and quick!</p>
  <a class="btn btn-outline-success" href="#" role="button">Create an account</a>
  <hr>
  <br>
  <div>
    <%= link_to "Back to home", root_path, class:"btn btn-outline-success" %>
  </div>
