<h1>Teachers in Stockholm</h1>
<!-- Insert the location afterwards-->

<p>Location</p>
<p>Date</p>
<p>Style</p>

<p>Price</p>
<p>Level</p>
<p>Ratings</p>

<div class="card-deck">
  <% @teachers.each do |teacher| %>
    <div class="card" >
      <div class="card-body">
        <h5 class="card-title"><strong><%= teacher.first_name %></strong> <strong><%= teacher.last_name %></strong></h5>
        <p><% if teacher.certification == true%></p>
        <p> <%= "Certified Teacher | #{["200h","500h","800h"].sample} Yoga Alliance" %> </p>
        <p><% else %></p>
        <p> <%= "Community Teacher" %> </p>
        <p> <% end %> </p>
        <hr>
        <p class="card-text"> <%= teacher.style %> </p>
        <p class="card-text"> <%= "Prices from #{[15.99, 18.50,12.99,13.99,14.75].sample}" %><i class="fas fa-euro-sign"></i> / day</p>
        <div class="card-footer">
          <small class="text-muted"><%= teacher.ratings %></small>
        </div>
      </div>
    </div>
  <% end %>
</div>
