<div style="background-color: white;">

  <div class="index-header">
  <%= link_to "<", root_path, class:"transparent-btn"%>
  </div>

<div id="search-area">
  <h2> Discover Yoga Teachers</h2>
  <div class="index-form">
    <%= simple_form_for :query, url: teachers_path, method: "GET", html: { autocomplete: 'off' } do |f| %>
    <div class="filters">
      <%= f.input :address, label: false, placeholder: "Location", input_html: { class: "index-input" } %>
      <%= f.input :date, as: :string, required: false, label: false, placeholder: "Date", prompt: "Date", input_html: {class: "datepicker index-input"}%>
      <%= f.input :style, collection: @styles, label: false, prompt: "Style", input_html: { class: "index-input" } %>
      <%= f.input :price, collection: @prices, label: false, prompt: "Price", input_html: { class: "index-input-2" } %>
      <%= f.input :level, collection: @levels, label: false, prompt: "Level", input_html: { class: "index-input-2" } %>
      <%= f.input :ratings, collection: @ratings, label: false, prompt: "Rating", input_html: { class: "index-input-2" } %>
    </div>
      <%= f.button :submit, "Apply filters", class: "index-btn" %>
      <% end %>
  </div>
</div>

<div class="index-cards">

  <% search_items = ["yoga", "pilates", "yogis", "yogi", "yoga teacher", "yoga trainer", "yoga class"] %>

  <% @teachers.each do |teacher| %>

  <%= link_to teacher_path(teacher)  do %>

  <div class="card-teacher">

    <%= cl_image_tag teacher.card_image.key%>
    <div class="card-teacher-infos">

      <div>
        <% if teacher.certification == true %>
          <p>Certified | <%= teacher.certificationhours %>h Yoga Alliance </p>
          <% else %>
          <p> Community Teacher </p>
          <% end %>
      </div>

      <div class="headline-area">
        <h2><%= teacher.first_name %> <%= teacher.last_name %></h2>
        <div style="font-size: 10px; color: #666963; align-self: center;">
          <% teacher.ratings.times do %>
            <i class="fas fa-heart"></i>
          <% end %>
        </div>
      </div>
<hr>


      <div style="display: flex;">

        <div style="flex-grow: 3;">
          <p><%= teacher.style %> <vertical-bar>&#124;&#124;&#124;&#124;&#124;</vertical-bar> </p>
          <p><%= teacher.courses.pluck(:level).uniq.join(" | ")%></p>

          <div style="display:flex; justify-content: flex-start; margin-top: 20px;">
            <p style="margin-right: 10px;"><i class="fas fa-map-marker-alt" style="font-size: 20px;"></i> Berlin</p>
            <p><i class="fas fa-euro-sign" style="font-size: 20px;"></i> from <%= "#{[15.99, 18.50,12.99,13.99,14.75].sample}" %></p>
          </div>

        </div>

        <div style="display: flex; justify-content: top; flex-end; flex-grow:1;">
          <p style="font-size: 35px; color: #00635D;"><i class="fas fa-chevron-right"></i></p>
        </div>

      </div>

    </div>
  </div>
  <% end %>
  <% end %>
</div>

<!-- <p><i class="fas fa-euro-sign" style="font-size: 20px;"></i> <%= "#{[15.99, 18.50,12.99,13.99,14.75].sample}" %>+</p>
 -->
<div class="index-footer">
  <p style= "text-align: center;">Create your account today, it is easy and quick!</p>
  <a class="aquagreen-btn-footer" href="#" role="button">Create an account</a>
</div>
</div>
