<div style="background-color: #EAECEA;">

<div class="index-header">
  <%= link_to "Go Back", root_path, class:"transparent-btn"%>
</div>

<h2 id="teacher-index-h2" style="display: flex; flex-direction: row; justify-content: center; align-items: center; margin-top: 5px;" > Discover Yoga Teachers</h2>

   <div class="index-form">
     <%= simple_form_for :query, url: teachers_path, method: "GET" do |f| %>
     <div class="filters">
      <%= f.input :address, collection: @addresses, label: false, prompt: "City", input_html: { class: "filter_search index-input"} %>
      <%= f.input :date, as: :string, required: false, label: false, prompt: "Date", input_html: {class: "datepicker index-input"}%>
      <%= f.input :style, collection: @styles, label: false, prompt: "Style", input_html: { class: "index-input" } %>
      <%= f.input :price, collection: @prices, label: false, prompt: "Price", input_html: { class: "index-input" } %>
      <%= f.input :level, collection: @levels, label: false, prompt: "Level", input_html: { class: "index-input" } %>
      <%= f.input :ratings, collection: @ratings, label: false, prompt: "Rating", input_html: { class: "index-input" } %>
     </div>
      <%= f.button :submit, "Apply filters", class: "index-btn" %>
      <% end %>
  </div>

<div class="index-cards">

  <% search_items = ["yoga", "pilates", "yogis", "yogi", "yoga teacher", "yoga trainer", "yoga class"] %>

  <% @teachers.each do |teacher| %>

  <%= link_to teacher_path(teacher)  do %>

  <div class="card-teacher">
    <img src="https://source.unsplash.com/featured/? <%= search_items.sample %>" alt="">

    <div class="card-teacher-infos">
      <div class="headline-area">
        <h2><%= teacher.first_name %> <%= teacher.last_name %></h2>
        <div class="text-muted" style="font-size: 12px;">
          <% teacher.ratings.times do %>
            <i class="fas fa-heart"></i>
          <% end %>
        </div>
      </div>
        <% if teacher.certification == true %>
        <p>Certified Teacher | <%= teacher.certificationhours %>h Yoga Alliance </p>
          <% else %>
        <p> Community Teacher </p>
        <% end %>
          <hr>
        <p><%= teacher.style %> <vertical-bar>&#124;&#124;&#124;&#124;&#124;</vertical-bar> </p>
        <p>Teaching in Berlin</p>
        <p>MEDIUM | ADVANCED</p>
        <p>Classes from <%= "#{[15.99, 18.50,12.99,13.99,14.75].sample}" %></p>
    </div>
  </div>
  <% end %>
  <% end %>
</div>

<div class="index-footer">
  <p style= "text-align: center;">Create your account today, it is easy and quick!</p>
  <a class="aquagreen-btn-footer" href="#" role="button">Create an account</a>
  <hr>
  <div><%= link_to "Go Back", root_path, class:"transparent-btn" %></div>
</div>
</div>
