<br>
<div class="container-back-buttom">
  <%= link_to "<", teachers_path, class:"go-back-buttom" %>
  <br>
</div>

<div class="container-video">
  <iframe width="414" height="300" src="https://www.youtube.com/embed/SZCxKjgReQ4?modestbranding=0&showinfo=0&fs=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; picture-in-picture"></iframe>
</div>

<div class="container-teachers-info">
  <h2><%= @teacher.first_name %> <%= @teacher.last_name %><i class="far fa-heart" id="heart-avatar"></i></h2>
  <% if @teacher.certification == true %>
  <p> Certified Teacher | <%= @teacher.certificationhours %>h Yoga Alliance </p>
  <% else %>
  <p> Community Teacher </p>
  <% end %>
  <hr>

  <div class="yoga-teachers-styles">
    <p>Ashtanga <vertical-bar>&#124;&#124;&#124;&#124;&#124;</vertical-bar> Vinyasa <vertical-bar>&#124;&#124;&#124;</vertical-bar>&#124;&#124; Yin <vertical-bar>&#124;&#124;</vertical-bar>&#124;&#124;&#124;</p>
  </div>
  <hr>

  <div class="about-me">
    <h5><strong>About me</strong></h5>
    <p><%= @teacher.about_me %></p>
  </div>
  <hr>

  <div class="reviews">
    <% 5.times do %>
    <i class="fas fa-star"></i>
    <% end %> <reviews><%= rand(500..999) %> reviews</reviews>
  <hr>
  </div>

  <div>
    <h5><strong>Next classes</strong></h5>
  </div>

  <div class="container">
    <% levels = ["easy level", "moderate level", "advanced level", "all levels"] %>
    <div class="container-fluid">
      <div class="row" style="margin-left: -40px;">
        <div class="col-12 mt-3">
          <% @teacher.courses.each do |course| %>
          <div class="card-classes">
            <div class="card-horizontal" style="display: flex; flex: 1 1 auto; height: 100%;">
              <div style="display: flex; justify-content: center; align-items: center;">
                <%#= cl_image_tag course.photo.path, height: 100, width: 170, class:"card-img"%>
              </div>
              <div class="card-body" style="padding: 1.25rem 0.75rem">
                <h5 class="card-title"><strong><%= course.classstyle %> Yoga</strong><i class="far fa-heart" id="heart-card" style="font-size: 0.9em;"></i></h5>
                <p class="card-text"><strong><%= " #{[15.99, 18.50,12.99,13.99,14.75].sample}" %></strong><small><i class="fas fa-euro-sign"></i></small> / class</p>
                <%= link_to "See more", course_path(course), class:"btn-classes" %>
              </div>
            </div>
          </div>
          <hr>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div id="map"
    style="width: 100%; height: 500px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <div class="jumbotron">
    <p>Create your account today, it is easy and quick!</p>
    <a class="btn-classes" href="#" role="button">Create an account</a>
  </div>
</div>



